<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Generate Purchase Invoice</title>
        <link rel="stylesheet"
            href="/services/web/codbex-order-invoice-ext/generate/PurchaseInvoice/generate-purchase-invoice.css">
        <script src="/services/web/angularjs/1.8.2/angular.min.js"></script>
        <script
            src="/services/web/codbex-order-invoice-ext/generate/PurchaseInvoice/generate-purchase-invoice-controller.js">
        </script>
    </head>

    <body ng-app="templateApp" ng-controller="templateContoller">
        <div class="dialog" id="dialog" ng-show="showDialog">
            <div class="dialog-content">
                <div class="title">Generate Purchase Invoice</div>
                <div class="line"></div>
                <div class="main-text">
                    <p>Are you sure you want to generate the purchase invoice?</p>
                </div>
                <div class="dialog-buttons">
                    <button ng-click="generateInvoice()" class="button">Yes</button>
                    <button ng-click="closeDialog()" class="button">No</button>
                </div>
            </div>
        </div>
    </body>

</html>
