<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="sales-invoice-generate.js"></script>
        <script type="text/javascript" src="/services/js/resources-core/services/loader.js?id=ide-view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/resources-core/services/loader.js?id=ide-view-css" />
        <theme></theme>
        <link rel="stylesheet"
            href="/services/web/codbex-order-invoice-ext/generate/SalesInvoice/generate-sales-invoice.css">
        <script src="/services/web/codbex-order-invoice-ext/generate/SalesInvoice/generate-sales-invoice-controller.js">
        </script>
    </head>

    <body>
        <div class="dialog" id="dialog" ng-show="showDialog">
            <div class="dialog-content">
                <div class="title">Generate Sales Invoice</div>
                <div class="line"></div>
                <div class="main-text">
                    <p>Which type of sales invoice you want to generate?</p>
                </div>
                <fd-scrollbar class="dg-full-height">
                    <fd-fieldset ng-form="forms.details">
                        <fd-form-group name="entityForm" class="fd-container fd-form-layout-grid-container">
                            <div class="dialog-select">
                                <input type="checkbox" ng-model="fullInvoice"
                                    ng-disabled="advanceInvoice || partialInvoice" />
                                <p>Full invoice</p>
                            </div>
                            <div class="dialog-select">
                                <input type="checkbox" ng-model="advanceInvoice"
                                    ng-disabled="fullInvoice || partialInvoice" />
                                <p>Advance invoice</p>
                            </div>
                            <div ng-if="advanceInvoice">
                                <fd-form-item class="fd-row">
                                    <div class="fd-col fd-col-md--4">
                                        <fd-form-label for="idPaymentAmount" dg-required="true" dg-colon="true">Payment
                                            Amount
                                        </fd-form-label>
                                    </div>
                                    <div class="fd-col  fd-col-md--8 ">
                                        <fd-step-input dg-id="idPaymentAmount" name="PaymentAmount"
                                            state="{{ forms.details['PaymentAmount'].$valid ? '' : 'error' }}"
                                            dg-required="true" ng-model="entity.PaymentAmount"
                                            is-readonly="action === 'select'" placeholder="Enter Payment Amount">
                                        </fd-step-input>
                                    </div>
                                </fd-form-item>
                            </div>
                            <div class="dialog-select">
                                <input type="checkbox" ng-model="partialInvoice"
                                    ng-disabled="fullInvoice || advanceInvoice" />
                                <p>Partial invoice</p>
                            </div>
                            <div ng-if="partialInvoice">
                                <fd-form-item class="fd-row">
                                    <div class="fd-col fd-col-md--4">
                                        <fd-form-label for="idPaymentAmount" dg-required="true" dg-colon="true">Payment
                                            Amount
                                        </fd-form-label>
                                    </div>
                                    <div class="fd-col  fd-col-md--8 ">
                                        <fd-step-input dg-id="idPaymentAmount" name="PaymentAmount"
                                            state="{{ forms.details['PaymentAmount'].$valid ? '' : 'error' }}"
                                            dg-required="true" ng-model="entity.PaymentAmount"
                                            is-readonly="action === 'select'" placeholder="Enter Payment Amount">
                                        </fd-step-input>
                                    </div>
                                </fd-form-item>
                            </div>
                            <fd-form-item class="fd-row">
                                <div class="fd-col fd-col-md--4">
                                    <fd-form-label for="idPaymentMethod" dg-required="true" dg-colon="true">
                                        PaymentMethod</fd-form-label>
                                </div>
                                <div class="fd-col fd-col-md--8">
                                    <fd-combobox-input id="idPaymentMethod" name="PaymentMethod"
                                        state="{{ forms.details['PaymentMethod'].$valid ? '' : 'error' }}"
                                        ng-required="true" ng-model="entity.PaymentMethod"
                                        dg-disabled="action === 'select'" dropdown-items="optionsPaymentMethod"
                                        dg-placeholder="Search PaymentMethod ...">
                                    </fd-combobox-input>
                                </div>
                            </fd-form-item>
                            <fd-bar class="dialog-buttons" bar-design="footer" compact="true"
                                ng-show="action !== 'select'">
                                <fd-bar-right>
                                    <fd-bar-element>
                                        <fd-button class="button" dg-label="Generate" dg-type="emphasized"
                                            ng-click="generateInvoice()"
                                            state="{{ forms.details.$valid ? '' : 'disabled' }}">
                                        </fd-button>
                                    </fd-bar-element>
                                    <fd-bar-element>
                                        <fd-button class="button red-button" dg-label="Cancel" dg-type="transparent"
                                            ng-click="closeDialog()">
                                        </fd-button>
                                    </fd-bar-element>
                                </fd-bar-right>
                            </fd-bar>
                        </fd-form-group>
                    </fd-fieldset>
                </fd-scrollbar>
            </div>
        </div>
    </body>

</html>
